boto3
scrapy
pymysql
sqlalchemy
splash
scrapy-splash
html-to-json
scrapy-deltafetch
pyspark
findspark
wheel
pandas
pyarrow
pandas
numpy
cyrtranslit
apache-airflow==2.4.3
findspark
sqlacodegen
pydantic
mysql-connector-python
xlrd
apache-airflow-providers-amazon
apache-airflow-providers-mysql
apache-airflow-providers-mysql
requests
apache-airflow[amazon]
mysql-replication
pydantic[dotenv]
python-dotenv
apache-airflow-providers-apache-spark
