boto3
scrapy
pymysql
sqlalchemy
splash
scrapy-splash
Pillow
html-to-json
scrapy-deltafetch
pyspark
wheel
pandas
pyarrow
pandas
numpy
cyrtranslit
#tabula-py
#overpy
apache-airflow
apache-airflow-providers-amazon
apache-airflow[amazon] ??