boto3
scrapy
pymysql
sqlalchemy
splash
scrapy-splash
Pillow
html-to-json
scrapy-deltafetch
pyspark
wheel
pandas
pyarrow
pandas
numpy
cyrtranslit
tabula-py
apache-airflow==2.4.3
apache-airflow-providers-amazon
apache-airflow-providers-mysql
findspark
pydantic[dotenv]
apache-airflow[amazon]
python-dotenv
sqlacodegen
pydantic
mysql-connector-python
xlrd
git-remote-codecommit
requests
mysql-replication
scikit-learn
xgboost
lightgbm
statsmodels
scikit-plot
apache-airflow-providers-apache-spark
inline_requests